body {
  text-align: center;
  font-family: "Playfair Display", serif;
  background-color: #DDC8A9
}

#game,body {
    margin: 40px auto 0 auto;
    background-image: url("../images/back4.gif");
    background-size: contain;
}

td {
background-color: white;
}

#game,#gameboard {
    width:620px;
}

#gameboard,.leg {
    background:#00f;
}

#gameboard,.leg,#gameboard td,#r {
    border:2px solid black;
}

#gameboard td {
    width:76px;
    height:76px;
    border-radius:38px;
}

#gameboard {
    padding:10px;
    border-spacing:4px;
    border-bottom-width:0;
    border-radius:12px 12px 0 0;
    background-color: #1F4A38;
    color: #1F4A38;
}

#gameboard .blue {
    background:#325F65;
}

#gameboard .brown {
    background:#322020;
}

#r,#gameboard td {
    border-color:#333;
}


.left {
    float:left;
}

.right {
    float:right;
}

.brown,.blue,#gameboard,.leg {
    box-shadow: inset 0 0 20px rgba(100,100,100,0.6);
}

#n,#w,#a,#b {
    display:none;
}

h3 {
  border: 10px solid black;
  background-color: black;
  margin: 2%;

}

a {
  text-decoration: none;
  color: white;
}

h1 {
  margin: 0 auto;
  font-family: 'Special Elite', cursive;
  font-size: 48px;
  margin: 2%;
  font-weight: 30;
  color: #1F3E32
}

h2 {
  margin: 0 auto;
  font-family: 'Abril Fatface', cursive;
  font-size: 42px;
  margin: 2%;
  font-weight: lighter;
  color: #255440
}

h3 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
  color: #366147
}

.button {
  text-decoration: none;
  background-color: #255440;
  color: #DDC8A9;
  padding: 2px 6px 2px 6px;
  border: 1px solid #255440;
  font-family: "Playfair Display", serif;
  font-size: 17px;
  margin: 10px;
  border-radius: 10px;
}
